.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 3rem;
}

.nav a, .nav a:hover, .nav a:visited, .nav a:active {
  color: #eeeeee;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.public , .private {
  padding-top: 100px;
}
.public  {
  background-color: #000033;
}

.private  {
  background-color: #330000;
}

